# Old compiled python stuff
*.py[co]
# package building stuff
build
# Emacs backup files...
*~
.\#*
.doctrees
# Generated docs stuff
distronode*.xml
.buildinfo
objects.inv
.doctrees
*.min.css
_build
rst_warnings
